*
{
    font-family: Helvetica;
}
header,footer
{
    background-color: #00838f;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}
#dol,#gora
{
    background-color: #EFEFEF;
    width: 55%;
}